.redirectPageHome {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../img/Fast-Food-HD-Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
