@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  background: #1e5799;


  background: linear-gradient(to bottom, #dbe3ec 0%, #dadbb9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  background-attachment: fixed;

  font-family: "Noto Sans JP", sans-serif;

  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
