@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
 
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background: rgb(25,94,157);
  background: linear-gradient(90deg, rgba(25,94,157,1) 0%, rgba(44,146,159,1) 35%, rgba(81,159,136,1) 100%);
}

.title-document{

    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
 
}